<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>


<h1>Comming soon!</h1>

<ul>
<li><a href="/score">Score</a></li>
</ul>


</body>
</html>
