<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>


<h1>Welcome!</h1>

  <nav class = "nav">


    <ul>
    <li><a href="/">Home.</a></li>
    </ul>


    <ul>
    <li><a href="/score">Score one word.</a></li>
    </ul>

    <ul>
      <li>
        <a href="/score_many">Score many words.</a>
      </li>
    </ul>
  </nav>


</body>
</html>
