<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>


<h1>Score Many comming sooon!</h1>


<%if @words_played%>
<h1>
  You played: <%=@words_played%>
  Your score is: <%= @scored_words%>!<br>
</h1>
<% end %>

<div class="params">
  <%= params%>
</div>


<form action="" method="post" accept-charset="utf-8">

  <label for="word">Put in Word</label>
  <input type="text" name="user_word" value="" id="word">

  <input type="submit" value="Submit">


</form>



</body>
</html>
